<li>
  <article>
    <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
    <h3>{{post.data.title}}</h3>
    <p>by <span>{{post.data.author}}</span> on <span>{{post.data.date | postDate}}</span></p>
    <p>{{post.data.description}}</p>
    <a href="{{ post.url }}">Keep reading!</a>
  </article>
</li>