<header>
  <div class="hdr-container">
    <div class="hdr-title">
      <a href="/">Nordpex</a>
    </div>
    <div class="stroke-line"></div>
    <nav>
      <div id="menu"></div>
      <div id="sidebar">
        <ul class="sidebar-list">
          <li><a href="/" class="sidebar-link">Home</a></li>
          <li class="menu-catagory">ARK</li>
          <li><a href=".././server-rules" class="sidebar-link">Rules</a></li>
          <li><a href=".././server-settings" class="sidebar-link">Server Settings</a></li>
        </ul>
      </div>
    </nav>
    </div>
</header>
