<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Varela&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4343ac158c.js" crossorigin="anonymous"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    <img class="home-wallpaper" src="/assets/fjordur-wallpaper.jfif" alt="Background">
    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}

<script>
    // Admin panel
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script>
const menuBtn = document.getElementById('menu');
const sidebar = document.getElementById('sidebar');

menuBtn.onclick = function () {
  menuBtn.classList.toggle ('active');
  sidebar.classList.toggle ('active');
};

window.document.onclick = function (e) {
  if (e.target.id !== ('menu') && e.target.id !== ('sidebar'))
  {
    menuBtn.classList.remove ('active');
    sidebar.classList.remove ('active');
  }
}
</script>
</body>
</html>