---
title: Server settings
layout: "base.njk"
---

<section>
  <main>
    <h1 class="text-c mb-1-5 mt-2 main-heading">Ark Server settings</h1>
    <div class="card mb-1-5">
      <h2 class="mb-1 mt-2 text-c">General</h2>
      <h3 class=" mb-1"><strong>Difficulty: </strong>6x</h3>
      <p class="mb-1-5">Dino max levels are 180 for normal creatures and 228 for wyvern and tek etc.</p>
      <h3 class=" mb-1-5"><strong>XP Multiplier: </strong>5x</h3>
      <h3 class=" mb-1-5"><strong>Harvesting multiplier: </strong>5x</h3>
      <h3 class=" mb-1-5"><strong>Stack size multiplier: </strong>200x</h3>
      <h3 class=" mb-1"><strong>Water draining and starvation of players: </strong>0.1x</h3>
      <p class="mb-1-5">The draining of food and water is reduced to 10% from 100%.</p>
    </div>
    <div class="card mb-1-5">
      <h2 class="mb-1 mt-2 text-c">Taming</h2>
      <h3 class=" mb-1-5"><strong>Taming speed multiplier: </strong>15x</h3>
      <h3 class=" mb-1-5"><strong>Wild creature starvation multiplier: </strong>5x</h3>
    </div>
    <div class="card mb-1-5">
      <h2 class="mb-1 mt-2 text-c">Mating</h2>
      <h3 class=" mb-1"><strong>Mating multiplier: </strong>0.3x</h3>
      <p class="mb-1-5">The time between mating is reduced to 30% from 100%</p>
      <h3 class=" mb-1-5"><strong>Egg hatch speed multiplier: </strong>15x</h3>
      <h3 class=" mb-1-5"><strong>Baby mature speed multiplier: </strong>15x</h3>
      <h3 class=" mb-1"><strong>Baby cuddle interval multiplier: </strong>0.1x</h3>
      <p class="mb-1-5">The time to imprint is reduced to 10% from 100%</p>
      <h3 class=" mb-1-5"><strong>Baby imprint amount multiplier: </strong>100%</h3>
      <h3 class=" mb-1"><strong>Baby lose imprint quality speed multiplier: </strong>0</h3>
      <p class="mb-1-5">Dinos will not lose imprint quality</p>
    </div>
    <div class="card mb-1-5">
      <h2 class="mb-1 mt-2 text-c">Player stats</h2>
      <h3 class=" mb-1-5"><strong>Health: </strong>1.5x</h3>
      <h3 class=" mb-1-5"><strong>Stamina: </strong>2x</h3>
      <h3 class=" mb-1-5"><strong>Weight: </strong>9999999999x</h3>
      <h3 class=" mb-1-5"><strong>Food: </strong>9999999999x</h3>
      <h3 class=" mb-1-5"><strong>Water: </strong>9999999999x</h3>
      <h3 class=" mb-1-5"><strong>Fortitude: </strong>10x</h3>
      <h3 class=" mb-1-5"><strong>Oxygen: </strong>20x</h3>
      <h3 class=" mb-1-5"><strong>Melee: </strong>3x</h3>
      <h3 class=" mb-1-5"><strong>Speed: </strong>3x</h3>
    </div>
    <div class="card mb-1-5">
      <h2 class="mb-1 mt-2 text-c">Dino stats</h2>
      <h3 class=" mb-1-5"><strong>Stamina: </strong>2x</h3>
      <h3 class=" mb-1-5"><strong>Weight: </strong>9999999999x</h3>
    </div>
  </main>
</section>