---
title: Company Name
layout: 'base.njk'
---
<section>
    <h1>Heading</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Minima laudantium nostrum, suscipit quaerat ex ipsum saepe 
        aut animi facere error alias. Voluptatibus delectus debitis ipsum!
    </p>
    {%- for post in collections.post | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}
</section>